asgiref==3.8.1
Django==5.2.1
djangorestframework==3.16.0
et_xmlfile==2.0.0
gunicorn==23.0.0
jalali_core==1.0.0
jdatetime==5.2.0
numpy==2.3.4
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
wheel==0.45.1
